<% @scorecards.order(:total).each do |scorecard|  %>

<tr>
  <th>
    <button type="button" class="btn" data-toggle="modal" data-target="#myModal"> 
      <%= scorecard.player %>
    </button>
      <%= render 'player_profile' %>
  </th>
  <td><%= scorecard.hole_1 %></td>
  <td><%= scorecard.hole_2 %></td>
  <td><%= scorecard.hole_3 %></td>
  <td><%= scorecard.hole_4 %></td>
  <td><%= scorecard.hole_5 %></td>
  <td><%= scorecard.hole_6 %></td>
  <td><%= scorecard.hole_7 %></td>
  <td><%= scorecard.hole_8 %></td>
  <td><%= scorecard.hole_9 %></td>
  <td><%= front = [
    scorecard.hole_1.to_i, 
    scorecard.hole_2.to_i, 
    scorecard.hole_3.to_i, 
    scorecard.hole_4.to_i, 
    scorecard.hole_5.to_i, 
    scorecard.hole_6.to_i, 
    scorecard.hole_7.to_i, 
    scorecard.hole_8.to_i, 
    scorecard.hole_9.to_i].inject(0) {|sum, x| sum + x} %> </td>
  <td><%= scorecard.hole_10 %></td>
  <td><%= scorecard.hole_11 %></td>
  <td><%= scorecard.hole_12 %></td>
  <td><%= scorecard.hole_13 %></td>
  <td><%= scorecard.hole_14 %></td>
  <td><%= scorecard.hole_15 %></td>
  <td><%= scorecard.hole_16 %></td>
  <td><%= scorecard.hole_17 %></td>
  <td><%= scorecard.hole_18 %></td>
  <td><%= back = [
    scorecard.hole_10.to_i, 
    scorecard.hole_11.to_i, 
    scorecard.hole_12.to_i, 
    scorecard.hole_13.to_i, 
    scorecard.hole_14.to_i, 
    scorecard.hole_15.to_i, 
    scorecard.hole_16.to_i, 
    scorecard.hole_17.to_i, 
    scorecard.hole_18.to_i].inject(0) {|sum, x| sum + x} %>
  <td><%= @total = [
    scorecard.hole_1.to_i, 
    scorecard.hole_2.to_i, 
    scorecard.hole_3.to_i, 
    scorecard.hole_4.to_i, 
    scorecard.hole_5.to_i, 
    scorecard.hole_6.to_i, 
    scorecard.hole_7.to_i, 
    scorecard.hole_8.to_i, 
    scorecard.hole_9.to_i, 
    scorecard.hole_10.to_i, 
    scorecard.hole_11.to_i, 
    scorecard.hole_12.to_i, 
    scorecard.hole_13.to_i, 
    scorecard.hole_14.to_i, 
    scorecard.hole_15.to_i, 
    scorecard.hole_16.to_i, 
    scorecard.hole_17.to_i, 
    scorecard.hole_18.to_i].inject(0) {|sum, x| sum + x} %>
  </td>

  <th class="dropdown">
    <button class="btn btn-sm" type="button" data-toggle="dropdown">
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li> <%= link_to "Add New Scorecard", new_scorecard_path %></li>
        <li><%= link_to 'Edit', edit_scorecard_path(scorecard) %></li>
        <li><%= link_to 'Show', scorecard_path(scorecard) %></li>
        <li><%= link_to 'Delete', scorecard_path(scorecard), method: :delete, data: {confirm: "Are you sure?"} %></li>
      </ul>  
  </th>
</tr>

<% end %>


