<tr><%= form_for :scorecard, url: scorecards_path do |f| %></tr>

<tr>
  <th><%= f.text_field :player %></th>
  <td><%= f.number_field :hole_1 %></td>
  <td><%= f.number_field :hole_2 %></td>
  <td><%= f.number_field :hole_3 %></td>
  <td><%= f.number_field :hole_4 %></td>
  <td><%= f.number_field :hole_5 %></td>
  <td><%= f.number_field :hole_6 %></td>
  <td><%= f.number_field :hole_7 %></td>
  <td><%= f.number_field :hole_8 %></td>
  <td><%= f.number_field :hole_9 %></td>
  <td><%= f.number_field :hole_10 %></td>
  <td><%= f.number_field :hole_11 %></td>
  <td><%= f.number_field :hole_12 %></td>
  <td><%= f.number_field :hole_13 %></td>
  <td><%= f.number_field :hole_14 %></td>
  <td><%= f.number_field :hole_15 %></td>
  <td><%= f.number_field :hole_16 %></td>
  <td><%= f.number_field :hole_17 %></td>
  <td><%= f.number_field :hole_18 %></td>

  <% total_score = [@scorecard.hole_1.to_i, @scorecard.hole_2.to_i, @scorecard.hole_3.to_i, @scorecard.hole_4.to_i, @scorecard.hole_5.to_i, @scorecard.hole_6.to_i, @scorecard.hole_7.to_i, @scorecard.hole_8.to_i, @scorecard.hole_9.to_i, @scorecard.hole_10.to_i, @scorecard.hole_11.to_i, @scorecard.hole_12.to_i, @scorecard.hole_13.to_i, @scorecard.hole_14.to_i, @scorecard.hole_15.to_i, @scorecard.hole_16.to_i, @scorecard.hole_17.to_i, @scorecard.hole_18.to_i] %>
  <% total_score.each do |hole|
    puts "#{hole}"
  end %> 
  <td><%= total_score.inject(0) {|sum, x| sum + x} %></td>
<% end %>
</tr>