<h1>Editing Scorecard</h1>

 <%= form_for @scorecard do |f| %>
  <table>
    <tr>
      <th>Hole</th>
    </tr>
      <tr><td></td><%= render 'hole_number_headings' %></tr>
      <tr><%= render 'total_score.html.erb'%></tr>
    </table>
      <tr class="form-buttons"><%= f.submit(" Save Edit") %></tr>
 <% end %>

 <%= link_to "back to scorecards listing", scorecards_path %>
