<div class="center jumbotron">
 <head>
 <h4>List of Scorecards</h4>
 </head>
  <body>
  <div id="main-container" class="container-fluid">
    <div class="row"> 
        <table class="table" summary="Scorecard list">
          <tr class="header">
            <th>Player</th>
            <%= render 'shared/list_heading' %>
          </tr>
          <tr> <%= render 'par_heading' %></tr>
          <tr>
            <%= render 'list_of_scores' %>
          </tr>
          <%= will_paginate %>
        </table>
    </div>
    <%= yield %>
  
  </div>
  </body>
</div>