<%= form_for :player, url: players_path do |f| %>
<div class="form-group">
  <div class="control-label col-sm-2">
      <%= f.label :player_name %>
  </div>
  <div class="col-sm-8">
      <%= f.text_field :player_name, class: "form-control", placeholder: "Enter player name", autofocus: true %>
  </div>
</div><br />
<div class="form-group">	
  <div class="control-label col-sm-2">
      <%= f.label :profile %>
  </div>
  <div class="col-sm-8">
      <%= f.text_area :profile, class: "form-control", placeholder: "Enter player profile", autofocus: true %>
  </div>
</div><br />
<div class="form-group">  
  <div class="control-label col-sm-2">
      <%= f.label :accomplishments %>
  </div>
  <div class="col-sm-8">
      <%= f.text_area :accomplishments, class: "form-control", placeholder: "Enter player accomplishments", autofocus: true %>
  </div>
</div><br />
<div class="form-group">  
  <div class="control-label col-sm-2">
      <%= f.label :status %>
  </div>
  <div class="col-sm-8">
      <%= f.text_area :status, class: "form-control", placeholder: "Tour Status", autofocus: true %>
  </div>
</div>
<% end %>