 <tr><%= form_for :course, url: courses_path do |f| %></tr>  
  <th><%= f.text_field :tees %></th>
  <td><%= f.text_field :yardage_1, :style => "width: 30px;" %></td>
  <td><%= f.text_field :yardage_2, :style => "width: 25px;"  %></td>
  <td><%= f.text_field :yardage_3, :style => "width: 25px;"  %></td>
  <td><%= f.text_field :yardage_4, :style => "width: 25px;"  %></td>
  <td><%= f.text_field :yardage_5, :style => "width: 25px;"  %></td>
  <td><%= f.text_field :yardage_6, :style => "width: 25px;"  %></td>
  <td><%= f.text_field :yardage_7, :style => "width: 25px;"  %></td>
  <td><%= f.text_field :yardage_8, :style => "width: 25px;"  %></td>
  <td><%= f.text_field :yardage_9, :style => "width: 25px;"  %></td>
  <td><%= f.text_field :yardage_10, :style => "width: 25px;"  %></td>
  <td><%= f.text_field :yardage_11, :style => "width: 25px;"  %></td>
  <td><%= f.text_field :yardage_12, :style => "width: 25px;"  %></td>
  <td><%= f.text_field :yardage_13, :style => "width: 25px;"  %></td>
  <td><%= f.text_field :yardage_14, :style => "width: 25px;"  %></td>
  <td><%= f.text_field :yardage_15, :style => "width: 25px;"  %></td>
  <td><%= f.text_field :yardage_16, :style => "width: 25px;"  %></td>
  <td><%= f.text_field :yardage_17, :style => "width: 25px;"  %></td>
  <td><%= f.text_field :yardage_18, :style => "width: 25px;"  %></td>

<% end %>    
        