<div class="center jumbotron">
  <h1>Courses</h1>
  <body>
  <div id="main-container" class="container-fluid">
    <div class="row">
      <div id="main-content" class="col-xs-9">
        <!--  main content -->
        <table class="table" summary="Scorecard list">
          <h2>List of Courses</h2>
          <br/>
          <%= link_to "Add New Course", new_course_path %>
          <tr class="header">
            <td></td><%= render 'shared/list_heading' %>
          </tr>
          <tr>
            <%= render 'list_of_courses' %>
          </tr>
        </table>
        
        <%= will_paginate @course %>
    
        <%= link_to "Go to Scorecard", scorecards_path %>
        <br/>
        <%= link_to "Home", root_path %>
      </div>
    </div>
    <%= yield %>
  </div>
  </body>
</div>