<!DOCTYPE html>
<html>
<head>
  <title>Spirit Creek</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if !flash[:notice].blank? %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
<% end %>
<%= yield %>
</body>
</html>
